extends loggedin

block sub
    .page-header
        h1=profile.name
        p=profile.bio

        if entity
            form(action='/subs/new', method='post').form-inline
                input(type='hidden', value=token, name='_csrf')
                input(type='hidden', name='entity', value=entity)
                input(type='submit', value='subscribe').btn

    table(class="table table-striped")
        thead
            tr
                th Article
                th Last update
        tbody
            for e in essays
                tr
                    td
                        a(href=e.readLink)=e.content.title
                        p=e.content.excerpt
                    td=formatDate(e.published_at)
