extends layout

block content
    h1 Diary
    a(href='/logout') Logout

    if flash
        p
            for f in flash
                span #{f}

    h3 New article
    form(action='/new', method='post')
        input(type='hidden', value=token, name='_csrf')
        p
            label A title for your essay:
                if form.title
                    input(type='text', name='title', placeholder='title', value=form.title)
                else
                    input(type='text', name='title', placeholder='title')
        p
            label A summary (html) for your essay:
            div
                textarea(name='summary', rows=10, cols='80', placeholder='Summary goes here')=form.summary
        p
            label The content of your essay
            div
                textarea(name='content', rows=10, cols='80', placeholder='Essay goes here')=form.content
        p
            input(type='submit', value='write!')

